<body>
  <div id="profile">
    <h1>Your profile</h1>
    <p><strong>Имя:</strong>{{ details?.name }}</p>
    <p><strong>Фамилия:</strong>{{ details?.surname }}</p>
    <p><strong>Отчество:</strong>{{ details?.patronymic }}</p>
    <p><strong>Почта:</strong>{{ details?.email }}</p>
    <p><strong>Место работы:</strong> {{details?.placeWork}}</p>
    <p><strong>Должность:</strong> {{ details?.position}}</p>
    <p><strong>Учёная степень:</strong>{{ details?.academicDegree}}</p>
    <p><strong>Учёное звание:</strong>{{ details?.academicRank}}</p>
  </div>
</body>


